<p-inplace #inplaceRef sytle="display: inline; " (click)="$event.stopPropagation()" (onActivate)="onActivate.emit()">
  <ng-template pTemplate="display">
    <ng-content>
    </ng-content>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex flex-column relative">
      <input
        #inputRef
        #required="ngModel"
        type="text"
        [placeholder]="placeholder"
        pInputText
        [(ngModel)]="editedText"
        (ngModelChange)="updateText()"
        (keydown.enter)="deactivate()"
        required
        >
        <small class="p-error absolute" *ngIf="!required.valid" style="top: 100%; ">You cannot leave this blank.</small>
    </div>
  </ng-template>
</p-inplace>
