<div class="card">
  <div class="flex align-items-start mb-4">
    <div>
      <app-edit-in-place
        #titleRef
        [(text)]="title"
        placeholder="Enter a title"
        (onActivate)="workoutTemplatesRef.hide()"
        >
        <H2
          class="editable-title"
          pTooltip="Edit title"
          tooltipPosition="bottom"
          >
          {{ title }}
          <i class="pi pi-pencil ml-2"></i></H2>
      </app-edit-in-place>
    </div>
    <div class="flex-1"></div>
    <div class="flex align-items-center">
      <button 
        pButton
        pRipple
        type="button"
        icon="pi pi-save"
        label="Save"
        class="p-button-success ml-2"
        [disabled]="!titleRef.valid"
        (click)="saveSchedule()"
        ></button>
    </div>
  </div>
  <div class="flex justify-content-between align-items-center py-3">
    <p-selectButton
      [options]="calendarViews"
      [(ngModel)]="selectedCalendarView"
      (onChange)="updateCalendarView()"
      ></p-selectButton>
    <p-toggleButton
      offLabel="Show Times"
      onLabel="Hide Times"
      onIcon="pi pi-times"
      offIcon="pi pi-clock"
      [(ngModel)]="showTimes"
      (onChange)="updateCalendarView()"
      ></p-toggleButton>
  </div>
  <full-calendar #calendarRef [options]="calendarOptions"></full-calendar>
  <app-workout-templates #workoutTemplatesRef [calendar]="calendarRef"></app-workout-templates>
</div>
