:host {
  width: 13rem;
  display: flex;
  flex-direction: column;
  padding-top: calc(4rem - 6px);
}

.layout-menu {
  margin: 0;
}

.layout-menuitem {
  padding: 6px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-secondary);
    transition: background-color 0.2s, color 0.2s;
    padding: 8px;
    border-radius: 8px;
    
    &:hover {
      color: var(--text-color);
      background-color: var(--surface-c);
    }

    &.active {
      color: var(--primary-color-text);
      background-color: var(--primary-color);
    }

    &:focus {
      box-shadow: 0 0 0 2px #ffffff,
      0 0 0 4px #9dc1fb,
      0 1px 2px 0 black,
    }
  }
}

.layout-menuitem-label {
  margin: 0 0.5rem;
  flex: 1;
}
