<div class="card">
    <div class="flex align-items-start">
        <div style="text-align: center;">
            <div class="flex align-items-center">
                <app-color-picker [(color)]="color" class="mr-1"></app-color-picker>
                <app-edit-in-place [(text)]="title" placeholder="Enter a title" (onActivate)="exerciseItemsRef.hide()" #titleRef>
                    <H2 class="editable-title" pTooltip="Edit title" tooltipPosition="bottom">{{ title }}<i class="pi pi-pencil ml-2"></i></H2>
                </app-edit-in-place>
            </div>
        </div>
        <div class="flex-1"></div>
        <div class="flex align-items-center">
            <p-toggleButton
                offIcon="pi pi-arrows-alt"
                offLabel="Reorder"
                onIcon="pi pi-check"
                onLabel="Done"
                [style]="{ 'width': '8rem' }"
                [disabled]="!reorderMode && exerciseTemplates.length < 2"
                [(ngModel)]="reorderModeButtonPressed"
                (onChange)="toggleReorderMode()"
                ></p-toggleButton>
            <button 
                pButton
                pRipple
                type="button"
                icon="pi pi-save"
                label="Save"
                class="p-button-success ml-2"
                [disabled]="!exerciseTemplates.length || !titleRef.valid"
                (click)="saveWorkout()"
                ></button>
        </div>
    </div>
    <ul
        style="min-height: 30rem;"
        cdkDropList
        #templateList="cdkDropList"
        [cdkDropListData]="exerciseTemplates"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="exerciseItemsRef.hide()"
        class="exercise-templates"
        >
        <li *ngFor="let template of exerciseTemplates" [cdkDragData]="template" cdkDrag [cdkDragDisabled]="!reorderMode">
            <app-exercise-template
                [(collapsed)]="collapsedTemplates[template.key]"
                [template]="template"
                [reorderMode]="reorderMode"
                [hideSets]="reorderModeButtonPressed"
                (onAddSet)="addSet($event)"
                (onDeleteTemplate)="deleteTemplate($event)"
                (onReorderSets)="reorderSets($event)"
                (onDeleteSet)="deleteSet($event)"
                >
                <div cdkDragHandle style="width: 100%; height: 100%; position: absolute"></div>
            </app-exercise-template>
        </li>
        <li *ngIf="!exerciseTemplates.length" class="drop-here-outer">
            <i class="pi pi-inbox"></i>
            <div class="drop-here-inner">
                Drop exercises here to add them to your workout
            </div>
        </li>
    </ul>
</div>

<app-exercise-items
    #exerciseItemsRef
    [cdkDroplistConnectedTo]="templateList"
    [placeholderSetsHidden]="reorderModeButtonPressed"
    ></app-exercise-items>
