<app-fixed-filter
  placeholder="Search workouts"
  [options]="workoutTemplates.workoutTemplates"
  optionLabel="name"
  (onFilter)="setFilteredWorkoutTemplates($event)"
  >
  <ng-template appFixedFilterOptions>
    <ul
      #workoutsRef
      class="flex flex-column
      ">
      <li 
        *ngFor="let workout of filteredWorkoutTemplates"
        [class]="draggableSelector"
        [attr.data-event]="workout | workoutTemplateEventData">
        {{ workout.name }}
      </li>
    </ul>
  </ng-template>
</app-fixed-filter>
