<button
    pRipple
    pButton
    icon="pi pi-plus"
    class="p-speeddial-button p-button-rounded main-button"
    style="position: fixed; bottom: 20px; right: 20px; "
    (click)="toggleOverlay()"
    ></button>

<div
    *ngIf="render"
    [@animation]="overlayVisible ? 'open' : 'close'"
    (@animation.start)="animationInProgress = true"
    (@animation.done)="animationInProgress = false"
    class="p-overlaypanel p-overlaypanel-flipped p-component"
    >
    <div class="p-overlaypanel-content">
        <ng-content></ng-content>
    </div>
</div>
