<app-fixed-overlay>
  <p-listbox 
    [options]="exerciseOptions" 
    [filter]="true"
    [class.hidden]="dragging"
    cdkDropList
    #exerciseList="cdkDropList"
    [cdkDropListData]="exercises"
    [cdkDropListConnectedTo]="[cdkDroplistConnectedTo]"
    cdkDropListSortingDisabled
    ></p-listbox>
  <ng-template let-exercise pTemplate="item">
    <li
      [cdkDragData]="exercise.value"
      cdkDrag
      (cdkDragStarted)="dragging = true"
      (cdkDragReleased)="dragging = false"
      >
      {{ exercise.label }}
      <ng-container
        *cdkDragPlaceholder
        >
        <app-exercise-template
          [template]="exercise.value | exerciseTemplatePlaceholder "
          [hideSets]="placeholderSetsHidden"
          ></app-exercise-template>
      </ng-container>
    </li>
  </ng-template>
  <!-- <p-listbox [options]="exerciseOptions" [filter]="true"></p-listbox> -->
    <ul
      *ngIf="dragging"
      class="exercise-items"
      >
      <li
        *ngFor="let exercise of exercises"
        class="exercise-item"
        >
        {{ exercise.exerciseType }}
      </li>
    </ul>
</app-fixed-overlay>

