<div class="flex">
    <div class="col-2">
        <h2>Exercies</h2>
        <ul
            [class.hidden]="dragging"
            style="min-height: 100px;"
            cdkDropList
            #exerciseList="cdkDropList"
            [cdkDropListData]="exercises"
            [cdkDropListConnectedTo]="[templateList]"
            cdkDropListSortingDisabled
        >
            <li
                *ngFor="let exercise of exercises"
                [cdkDragData]="exercise"
                cdkDrag
                (cdkDragStarted)="dragging = true"
                (cdkDragReleased)="dragging = false"
                >
                <p>{{ exercise.exerciseType }}</p>
                <p>{{ exercise.category }}</p>
                <ng-container
                    *cdkDragPlaceholder
                    [ngTemplateOutlet]="exerciseNgTemplate"
                    [ngTemplateOutletContext]="{ template: exercise | exerciseTemplatePlaceholder }"
                    ></ng-container>
            </li>
        </ul>
        <ul
            *ngIf="dragging"
            style="min-height: 100px;"
        >
            <li
                *ngFor="let exercise of exercises"
                >
                <p>{{ exercise.exerciseType }}</p>
                <p>{{ exercise.category }}</p>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <div class="flex">
            <h1 class="flex-1">My Workout</h1>
            <div class="flex align-items-center">
                <p-toggleButton
                    offIcon="pi pi-arrows-alt"
                    offLabel="Reorder"
                    onIcon="pi pi-check"
                    onLabel="Done"
                    [style]="{ 'width': '8rem' }"
                    [disabled]="!reorderMode && exerciseTemplates.length < 2"
                    [(ngModel)]="reorderModeButtonPressed"
                    (onChange)="toggleReorderMode()"
                    styleClass="p-button-raised"
                ></p-toggleButton>
                <button 
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-save"
                  label="Save"
                  class="p-button p-button-raised p-button-success ml-2"
                  [disabled]="!exerciseTemplates.length"
                  (click)="saveWorkout()"
                  ></button>
            </div>
        </div>
        <ul
            style="min-height: 100px;"
            cdkDropList
            #templateList="cdkDropList"
            [cdkDropListData]="exerciseTemplates"
            (cdkDropListDropped)="drop($event)"
        >
            <li *ngFor="let template of exerciseTemplates" [cdkDragData]="template" cdkDrag [cdkDragDisabled]="!reorderMode">
                <ng-container
                    [ngTemplateOutlet]="exerciseNgTemplate"
                    [ngTemplateOutletContext]="{ template: template }"
                    ></ng-container>
            </li>
        </ul>
    </div>
</div>

<ng-template #exerciseNgTemplate let-template="template">
    <div class="flex align-items-center">
        <button 
            pButton
            pRipple
            type="button"
            (click)="!reorderMode && template.collapsed = !template.collapsed"
            [icon]=" reorderMode ? 'pi pi-arrows-alt' : template.collapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-down'"
            class="p-button-rounded p-button-text p-button-plain mr-2"
            cdkDragHandle
            ></button>
        <h3 class="flex-1">{{ template.exerciseType }}</h3>
        <p-button 
            (click)="addSet(template)"
            label="Add Set"
            icon="pi pi-plus"
            styleClass="p-button-sm p-button-raised p-button-success mr-2"
            [disabled]="reorderMode"
            ></p-button>
        <p-button 
            (click)="deleteTemplate(template.order - 1)"
            label="Delete"
            icon="pi pi-trash"
            styleClass="p-button-sm p-button-raised p-button-danger"
            ></p-button>
    </div>
    <div [@collapse]="(template.collapsed || reorderModeButtonPressed) ? 'hidden' : 'visible'" style="overflow: hidden;">
        <p-table
            [value]="template.sets"
            (onRowReorder)="reorderSets(template)"
            >
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Set</th>
                    <th>Previous</th>
                    <th>Lbs</th>
                    <th>Reps</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-set let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td>
                        <span class="pi pi-bars" pReorderableRowHandle></span>
                    </td>
                    <td>{{ set.order }}</td>
                    <td>TBD</td>
                    <td>
                        <p-inputNumber
                            [(ngModel)]="set.weight"
                            [showButtons]="true"
                            mode="decimal"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            ></p-inputNumber>
                    </td>
                    <td>
                        <p-inputNumber
                            [(ngModel)]="set.reps"
                            [showButtons]="true"
                            ></p-inputNumber>
                    </td>
                    <td>
                        <button 
                            pButton 
                            pRipple 
                            type="button" 
                            icon="pi pi-times" 
                            class="p-button-rounded p-button-danger p-button-text"
                            (click)="deleteSet(template, set.order - 1)"
                            ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</ng-template>
