/* You can add global styles to this file, and also import other style files */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.fc-daygrid-day-number {
  display: none;
}

.cdk-drag-placeholder {
  border-radius: 6px;
  opacity: 0.3;
}

.main-button .p-button-icon {
  font-size: 1.3rem;
}
