<p-inputSwitch (onChange)="changeCalendarView($event)"></p-inputSwitch>
<button 
  pButton
  pRipple
  type="button"
  icon="pi pi-save"
  label="save"
  (click)="saveSchedule()"
  ></button>
<div #workoutList >
  <div *ngFor="let workout of workouts" class="workout" [attr.data-event]="workout | workoutTemplateEventData ">
    <b>{{ workout.name }}</b>
    <ul>
      <li *ngFor="let exercise of workout.exercises">
        {{ exercise.exerciseType }}
      </li>
    </ul>
  </div>
</div>
<full-calendar #calendar [options]="calendarOptions" class="p-component"></full-calendar>
