<div class="grid">
  <div class="col">
    <div class="card">
      <h2>Workouts</h2>
      <ul>
        <li *ngFor="let workoutTemplate of workoutTemplatesService.workoutTemplates" (click)="editWorkout(workoutTemplate)">
          {{ workoutTemplate.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h2>Schedules</h2>
      <ul>
        <li *ngFor="let schedule of schedulesService.schedules" (click)="editSchedule(schedule)">
          {{ schedule.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
